{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block navigation %}
	<a href="/profile/edit">Edit Profile</a>
{% endblock navigation %}
{% block content %}
    <div class="profile-content">
    <h3> {{ user }}'s Profile</h3>
    	<div class="profile-field-label">First Name: </div>
		<div class="profile-field-value">{{ st.first_name }}</div>
		<div class="profile-field-label">Last Name:</div>
		<div class="profile-field-value">{{ st.last_name }}</div>
		<div class="profile-field-label">DOB:</div>
		<div class="profile-field-value">{{ st.dob }}</div>
		<div class="profile-field-label">Passport:</div>
		<div class="profile-field-value">{{ st.register_no }}</div>
		<div class="profile-field-label">Tenth %:</div>
		<div class="profile-field-value">{{ st.tenth_percentage }}</div>
		<div class="profile-field-label">HSC %:</div>
		<div class="profile-field-value">{{ st.hsc_percentage }}</div>
		<div class="profile-field-label">Mobile:</div>
		<div class="profile-field-value">{{ st.mobile }}</div>
	<h3>Contact</h3>
		<div class="profile-field-label">Address Line 1:</div>
		<div class="profile-field-value">{{ addr.address_line1 }}</div>
		<div class="profile-field-label">Address Line 2:</div>
		<div class="profile-field-value">{{ addr.address_line2 }}</div>
		<div class="profile-field-label">Address Line 3:</div>
		<div class="profile-field-value">{{ addr.address_line3 }}</div>
		<div class="profile-field-label">Area:</div>
		<div class="profile-field-value">{{ addr.area }}</div>
		<div class="profile-field-label">City:</div>
		<div class="profile-field-value">{{ addr.city }}</div>
		<div class="profile-field-label">State:</div>
		<div class="profile-field-value">{{ addr.state }}</div>
		<div class="profile-field-label">Country:</div>
		<div class="profile-field-value">{{ addr.country }}</div>
		<div class="profile-field-label">Pincode:</div>
		<div class="profile-field-value">{{ addr.pincode }}</div>
		<div class="profile-field-label">Phone:</div>
		<div class="profile-field-value">{{ addr.phone }}</div>
		<div class="profile-field-label">Website:</div>
		<div class="profile-field-value">{{ addr.website }}</div>
		<div class="profile-field-label">Blog:</div>
		<div class="profile-field-value">{{ addr.blog }}</div>
	<h3>Education</h3>
	{% for education in edu%}
		<h3>College Details</h3>
		<div class="profile-field-label">Register No</div>
		<div class="profile-field-value">{{ education.register_no }}</div>
		<div class="profile-field-label">Roll No</div>
		<div class="profile-field-value">{{ education.roll_no }}</div>
		<div class="profile-field-label">Current Year:</div>
		<div class="profile-field-value">{{ education.year }}</div>
		<div class="profile-field-label">Date of Joining</div>
		<div class="profile-field-value">{{ education.doj }}</div>
		<div class="profile-field-label">Date of Pass out</div>
		<div class="profile-field-value">{{ education.dop }}</div>
		<div class="profile-field-label">Branch</div>
		<div class="profile-field-value">{{ education.branch }}</div>
	{% endfor %}
	</div>
{% endblock content %}

